@import "base";

.login-area {
  position: relative;
  max-width: 400px;
  padding: 15px;
  margin: 80px auto 40px;

  @media (max-width: 480px) {
    margin: 40px auto 20px;
  }

  .fill-area {
    width: 100%;
    margin-bottom: 20px;
  }
}