<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
  <link href="/stylesheets/index.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="blog-name">summerbaby</div>
  </header>