/* line 5, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_base.scss */
html, body {
  height: 100%;
  font-size: 14px;
}

/* line 7, ../sass/_base.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../sass/_base.scss */
header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid;
  border-color: #e6e6e6;
}
/* line 17, ../sass/_base.scss */
header .blog-name {
  font-size: 30px;
  padding: 30px 15px;
}
@media (max-width: 480px) {
  /* line 17, ../sass/_base.scss */
  header .blog-name {
    font-size: 20px;
    padding: 15px;
  }
}

/* line 28, ../sass/_base.scss */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 40px 15px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  background-color: #484848;
  color: #999;
}

/* line 39, ../sass/_base.scss */
.my-btn {
  display: block;
  width: 100%;
  height: 42px;
  padding: 8px 12px;
  line-height: 1.71429;
  color: #5c5c5c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  outline: none;
}
/* line 52, ../sass/_base.scss */
.my-btn:hover, .my-btn:focus {
  color: #a0a0a0;
  background-color: #fff;
  border-color: #ebebeb;
}

/* line 59, ../sass/_base.scss */
.my-input {
  display: block;
  width: 100%;
  height: 42px;
  padding: 8px 12px;
  line-height: 1.71429;
  color: #5c5c5c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  outline: none;
}

/* line 3, ../sass/index.scss */
.login-area, .sign-area {
  position: relative;
  max-width: 400px;
  padding: 15px;
  margin: 80px auto 40px;
}
@media (max-width: 480px) {
  /* line 3, ../sass/index.scss */
  .login-area, .sign-area {
    margin: 40px auto 20px;
  }
}
/* line 13, ../sass/index.scss */
.login-area .fill-area, .sign-area .fill-area {
  width: 100%;
  margin-bottom: 20px;
}
